<!DOCTYPE html>
<html lang="en">

<head>
  <link href="css/style.css" rel="stylesheet">
  <link href="css/cook.css" rel="stylesheet">
  <script src="js/cook.js"></script>
  <title>COOK PAGE</title>
</head>

<body>
  <div class="container">
      <div class="logo-cook">
          <button id="button-connect">Connect</button>
          <img src="img/logo.svg" height="90em">
      </div>
      <div class="content-cook-container">
          <div class="order">
            <div class="info-order">
              <h1>66</h1>
              <div class="order-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty asdasds adsadsadas</h2>
              <div class="atomic-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty</h2>
              <div class="atomic-status"></div>
            </div>
          </div>

          <div class="order">
            <div class="info-order">
              <h1>66</h1>
              <div class="order-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty asdasds adsadsadas</h2>
              <div class="atomic-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty</h2>
              <div class="atomic-status"></div>
            </div>
          </div>

          <div class="order">
            <div class="info-order">
              <h1>66</h1>
              <div class="order-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty asdasds adsadsadas</h2>
              <div class="atomic-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty</h2>
              <div class="atomic-status"></div>
            </div>
          </div>

          <div class="order">
            <div class="info-order">
              <h1>66</h1>
              <div class="order-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty asdasds adsadsadas</h2>
              <div class="atomic-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty</h2>
              <div class="atomic-status"></div>
            </div>
          </div>

          <div class="order">
            <div class="info-order">
              <h1>66</h1>
              <div class="order-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty asdasds adsadsadas</h2>
              <div class="atomic-status"></div>
            </div>
            <div class="atomic-order">
              <h2>schabowy + fryty</h2>
              <div class="atomic-status"></div>
            </div>
          </div>
      </div>
  </div>
</body>
</html>

<template>
  <div class="order">
    <div class="info-order">
      <h1></h1>
      <div class="order-status"></div>
    </div>
    <div class="atomic-order">
      <h2></h2>
      <div class="atomic-status"></div>
    </div>
  </div>
</template>