<!DOCTYPE html>
<html lang="en">

<head>
  <link href="css/style.css" rel="stylesheet">
  <link href="css/cook.css" rel="stylesheet">
  <script defer src="js/cook.js"></script>
  <title>COOK PAGE</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div class="container">
      <div class="logo-cook">
          <button id="button-connect" onclick="connectBtnHandler()">Connect</button>
          <img src="img/logo.svg" height="90em">
      </div>
      <div class="content-cook-container">
      </div>
  </div>
</body>
</html>

<template id="order-div">
  <div class="order" id="">
    <div class="info-order">
      <h1></h1><!--nr zam-->
      <div class="order-status"></div>
    </div>
    <!-- multiple atomic orders -->
    
  </div>
</template>

<template id="atomic-order-div">
  <div class="atomic-order">
    <h2><!--opis--></h2>
    <div class="atomic-status"></div>
  </div>
</template>