<!DOCTYPE html>
<html lang="en">

<head>
  <link href="css/style.css" rel="stylesheet">
  <link href="css/owner.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d6606babc0.js" crossorigin="anonymous"></script>
  <title>OWNER EDIT MENU PAGE</title>
</head>

<body>
  <div class="container">
    <div class="logo-owner">
        <button id="button-owner">menu</button>
        <img src="img/logo.svg" height="90em">
        <button id="button-owner">employees</button>
    </div>
    <div class="owner-edit-menu">
      <table>
          <thead>
            <tr>
                <th>nazwa</th>
                <th>cena [zl]</th>
                <th>typ</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <th>schabowy + ziemniaki</th>
                  <th>15</th>
                  <th>drugie danie</th>
                  <th><i class="fas fa-trash"></i></th>
              </tr>

              <tr>
                <th>schabowy + frytki</th>
                <th>15</th>
                <th>drugie danie</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>zurek</th>
                <th>15</th>
                <th>zupa</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>

            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>
            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>
            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>
            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>
            <tr>
                <th>piwo</th>
                <th>15</th>
                <th>napoje</th>
                <th><i class="fas fa-trash"></i></th>
            </tr>
            
          </tbody>
      </table>

      <form class="addDish" action="addDish" method="POST">
        <input name="nazwa" type="text" placeholder="nazwa">
        <input name="cena" type="number" placeholder="cena">
        <div class="choose">
          <select name="types" id="type">
            <option value="drugie danie">Drugie danie</option>
            <option value="zupa">Zupa</option>
            <option value="deser">Deser</option>
            <option value="napoj">Napoj</option>
          </select>
          <button type="submit">Add</button>
        </div>
    </form>
    </div>
  </div>
</body>

</html>