<!DOCTYPE html>
<html lang="en">

<head>
  <link href="css/style.css" rel="stylesheet">
  <link href="css/waiter.css" rel="stylesheet">
  <script src="js/waiter.js"></script>
  <script src="https://kit.fontawesome.com/d6606babc0.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="logo-waiter">
        <img src="img/logo.svg" height="90em">
    </div>
    <div class="make-order">

      <div class="details">
        <form>
          <input name="table-number" type="number" placeholder="nr" id="tab-num">
          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>

          <div class="choose">
            <select name="dish" id="type">
              <option value="Kotlet + fryty">Kotlet + fryty 15zl</option>
              <option value="zurek">zurek 10zl</option>
              <option value="sernik">sernik 7zl</option>
              <option value="cola">cola 20zl</option>
            </select>
            <input name="options" type="text" placeholder="uwagi" id="uwagi">
          </div>
        </form>
      </div>

      <div class="summary">
        <div>
          <h1>
            <i class="fas fa-coins"></i>
            15 zl
          </h1>
        </div>
        <button id="button-accept">
          <i class="fas fa-check"></i>
          Accept
        </button>
      </div>
    </div>

    <!-- <div class="content-waiter-container">
      
      <div class="orders">
        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>

        <div class="order">
          <div class="order-details">
            <div class="order-navigation">
              <h3>Nr. zam: 2</h3>
              <h3>Nr. stol: 3</h3>
            </div>
            <h3>Kotlet + fryty, zur</h3>
          </div>
          <div class="order-info">
            <div class="info"></div>
            <div class="info2"></div>
          </div>
        </div>
      </div>
      
      <div class="waiter-buttons">
        <button id="button-sum">S</button>
        <button id="button-connect">Connect</button>
        <button id="button-add">P</button>
      </div>   
    </div> -->
</div>
</body>

</html>