.logo-cook{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 2em 0;
    border-radius: 0 0 1em 1em;
}

.red {
    background-color: red !important;
}
.yellow {
    background-color: yellow !important;
}
.green {
    background-color: green !important;
}

.order-description {
    display:flex;
    flex-direction: column;
}
.order-description h2 h5 {
    max-height: 30%;
}
.order-description span {
    display: block;
}
.food-name {
    font-size: 2em;
}
.food-comments {
    font-size: 0.8em;
}

#button-connect{
    background-color: lightgray;
    height: 4em;
    width: 10em;
    position: fixed;
    margin-right: 80%;
    border-radius: 1em;
}

.content-cook-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    overflow: auto;
}

.order{
    background-color: white;
    border: 3px;
    border-radius: 2em;
    height: 29.6em;
    margin: 2em;
    flex-shrink: 0;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.info-order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.atomic-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    margin: 0.5em;
    border: 2px black;
    border-style: solid;
    border-radius: 1em;
    padding: 1em;
}

h2{
    width: 70%;
}

.order-status, .atomic-status{
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    border: 5px black;
    border-style: solid;
    background-color: red;
}

.atomic-status{
    width: 1.5em;
    height: 1.5em;
    border: 2px black;
    border-style: solid;
}