html, body {
    margin: 0;
    height: 100%; 
    overflow: hidden
}

.logo-waiter{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 0;
    border-radius: 0 0 1em 1em;
    position: fixed;
    top: 0px;
}

.content-waiter-container{
    font-size: large;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-waiter-container:last-child{
    flex:1;
}

.orders{
    margin-top: 4em;
    height: 100%;
    overflow: auto;
}

.order{
    display: flex;
    background-color: white;
    height: 13%;
    width: 42em;
    border-radius: 2em;
    flex-direction: row;
    margin-top: 3em;
    border: 2px;
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-color: #000;

}

.waiter-buttons{  
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order-navigation
{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    width: 35em;
}

.info{
    align-self: center;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    font-size: 16px;
    border-width: medium;
    border-style: solid;
    background-color: red;
}

.info2{
    align-self: center;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    border-width: medium;
    border-style: solid;
    margin-left: 0em;
    margin-right: 1em;
    background-color: indianred;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}

h3{
    margin-left: 2em;
}

.waiter-buttons{
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border-color: black;
    border-width: thick;
    border-style: solid;
    border-color: #000; */
}

#button-sum{
    background-color: lightgray;
    font-size: large;
    height: 5em;
    width: 6em;
    border-radius: 1.5em;
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-color: #000;
}

#button-connect{
    background-color: lightgray;
    font-size: large;
    height: 5em;
    width: 6em;
    border-radius: 1.5em;
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-color: #000;
}

#button-add{
    background-color: lightgray;
    font-size: large;
    height: 5em;
    width: 6em;
    border-radius: 1.5em;
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-color: #000;
}
.order-info
{
    display: flex;
}

.make-order, .table-orders{
   width: 50em;
   height: 80em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.details, .details>form, .choose{
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details>form{
    padding-top: 3em;
    height: 70em;
    overflow: auto;
    margin: 3em;
}

#tab-num{
    font-size: xx-large;
    width: 1.5em;
}

.choose{
    width: 50em;
}

#type{
    font-size: x-large;
    border-radius: 1em;
    height: 4em;
    width: 100%;
    /* width: 30em; */
    
}

.summary{
    width: 60em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
}

.summary>div{
    font-size: x-large;
    background-color: white;
    border-radius: 2em;
    width: 10em;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#button-accept{
    font-size: x-large;
    background-color: lightgreen;
    border-radius: 2em;
    width: 6em;
    height: 5em;
}

#button-delete{
    font-size: x-large;
    background-color: red;
    border-radius: 2em;
    width: 6em;
    height: 5em;
}

#tab-num, #uwagi{
    background-color: white;
    margin-top: 2em;
}

#uwagi{
    font-size: x-large;
    margin-top: 0px;
    border-radius: 0 0 1em 1em;
    height: 3em;
    padding: 0px;
}

.summary-orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-cost{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.order-details-sum{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-around;
    width: 35em;
}

.table-orders{
    overflow: auto;
}